<mat-sidenav-container fullscreen>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandSet ? 'dialog' : 'navigation'"
    [mode]="(isHandSet | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandSet | async)!.matches">

    <!-- Sidebar Section that covers the left
          hand side of the main Toolbar -->
    <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="handleMenuButtonClick()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      {{appTitle}}
    </mat-toolbar>

    <mat-nav-list>
      <a *ngFor="let menuItem of sidebarMenu" mat-list-item href='#'>{{menuItem.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="handleMenuButtonClick()"
        *ngIf="showToolbarButton">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="showToolbarButton">
        {{appTitle}}
      </div>
      <div *ngIf="!(isHandSet | async)!.matches">
          <a  *ngFor="let menuItem of toolbarMenu" mat-button href='#'>{{menuItem.title}}</a>
      </div>
      <span class="fill-space"></span>
      <button #themeButton mat-icon-button (click)="toggleThemePicker()">
        <mat-icon>format_paint</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <mat-card>
      <mat-card-title>Buttons and Colors</mat-card-title>
        <div class="button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button routerLink=".">Link</a>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
